@page "/AddUser"
@inherits AddUserBase;
@inject AppState AppState;

@if (AppState.LoggedIn == null)
{
    <p>You Need To Login To See This page!</p>
}
else
{
    <h3>Add User</h3>
    
    <EditForm Model="@User" OnValidSubmit="@AddUserAsync">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="@User.Username" class="form-control"></InputText>
        
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="@User.Password" class="form-control"></InputText>
        
        <label for="role">Role</label>
        <InputSelect id="role" @bind-Value="User.Role" class="form-control">
            <option value="">Select...</option>
            @foreach(var role in roles)
            {
                <option value="@role">@role</option>
            }
        </InputSelect>
        <button type="submit" class="btn btn-success">
            <span class="oi oi-pencil"></span>
            Add User
        </button>
    </EditForm>
}
<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>
